@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

$green:#244d4d;
$white:#fff;
$light-color:#779;
$light-bg:#f6fbf6;
$border:.1rem solid $green;
$box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
$dark-shadow:0 0 0 100vw rgba(0,0,0,.5);

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap:1.5rem;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  

  &::-webkit-scrollbar{
    width:1rem;
  }

  &::-webkit-scrollbar-track{
    background: $white;
  }

  &::-webkit-scrollbar-thumb{
    background: $green;
  }
}

section{
  padding:3rem 9%;
}

.heading{
  background: $green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 5rem;

  h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color:$white;
  }

  p{
    color:$white;
    font-size: 2rem;

    span{
      color:yellow;
    }

    a{
      color:$white;

      &:hover{
        color:yellow;
      }
    }
  }
}

.title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  border-bottom: $border;
  padding-bottom: 1.5rem;

  span{
    font-size: 2.5rem;
    color:$green;
  }

  a{
    font-size: 1.5rem;
    color:$light-color;

    &:hover{
      color:$green;
    }
  }
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  padding:.9rem 3rem;
  font-size: 1.7rem;
  background:$green;
  color:$white;
  cursor: pointer;

  &:hover{
    background:#316868;
  }
}

.header{
  padding:2rem 9%;
  position: sticky;
  top:0; left:0; right:0;
  z-index: 100;
  background: $light-bg;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo{
    font-size: 2.5rem;
    color:$green;
    font-weight: bolder;

    i{
      padding-right: .3rem;
    }
  }

  .search-form{
    height: 5rem;
    width:50rem;
    border-radius: 5rem;
    background: $white;
    overflow: hidden;
    display: flex;
    align-items: center;
    border:$border;

    input{
      height:100%;
      width:100%;
      padding:0 1.2rem;
      font-size: 1.6rem;
      color:$green;
      text-transform: none;
    }

    label{
      font-size: 2.2rem;
      padding-right: 1.7rem;
      cursor: pointer;
      color:$green;

      &:hover{
        color:$light-color;
      }
    }
  }

  .icons div{
    margin-left: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
    color:$green;

    &:hover{
      color:$light-color;
    }
  }
}

#search-btn{
  display: none;
}

@keyframes rotate{
  0%{
    transform: rotate(360deg);
    opacity: 0;
  }
}

#closer{
  position: fixed;
  top:1.5rem; right:2rem;
  font-size: 5rem;
  cursor: pointer;
  z-index: 10000;
  color:$green;
  animation: rotate .4s linear .4s backwards;
  display: none;

  &:hover{
    color:$light-color;
  }
}

.navbar{
  position: fixed;
  top:0; right:-101%;
  z-index: 1000;
  width:35rem;
  height: 100vh;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  &.active{
    right:0;
    box-shadow: $dark-shadow;
    transition: .4s linear;
  }

  a{
    margin:1rem 0;
    font-size: 2.5rem;
    color:$green;

    &:hover{
      color:$light-color;
    }
  }
}

.shopping-cart{
  position: fixed;
  top:0; right:-101%;
  z-index: 1000;
  width:35rem;
  height: 100vh;
  background: $white;
  padding:2rem;
  padding-top: 8rem;
  overflow-y: scroll;

  &.active{
    right:0;
    box-shadow: $dark-shadow;
    transition: .4s linear;
  }

  &::-webkit-scrollbar{
    width:1rem;
  }

  &::-webkit-scrollbar-track{
    background: $white;
  }

  &::-webkit-scrollbar-thumb{
    background: $green;
  }

  .box{
    display: flex;
    align-items: center;
    gap:1.5rem;
    position: relative;
    margin-bottom: 1rem;

    .fa-times{
      position: absolute;
      top:50%; right:1rem;
      transform: translateY(-50%);
      font-size: 2rem;
      color:$light-color;
      cursor: pointer;

      &:hover{
        color:$green;
      }
    }

    img{
      height: 8rem;
    }

    .content{

      h3{
        color:$green;
        font-size: 1.8rem;
        padding-bottom: .5rem;
      }

      span{
        font-size: 1.5rem;
        color:$light-color;

        &.multipy{
          margin:0 1rem;
        }
      }
    }
  }

  .total{
    text-align: center;
    font-size: 2rem;
    padding:1rem 0;
    color:$light-color;

    span{
      color:$green;
    }
  }

  .btn{
    width:100%;
    text-align: center;
  }
}

.login-form{
  position: fixed;
  top:0; right:-101%;
  z-index: 1000;
  width:35rem;
  height: 100vh;
  background: $white;
  padding:2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active{
    right:0;
    box-shadow: $dark-shadow;
    transition: .4s linear;
  }

  form{
    padding:1.7rem;
    border:$border;

    h3{
      font-size: 2.2rem;
      padding-bottom: 1rem;
      color:$green;
    }

    .box{
      width:100%;
      text-transform: none;
      font-size: 1.5rem;
      color:$green;
      padding:1rem 1.2rem;
      border:$border;
      margin:.7rem 0;
    }

    .remember{
      display: flex;
      align-items: center;
      gap:.5rem;

      label{
        padding:1rem 0;
        cursor: pointer;
        font-size: 1.5rem;
        color:$light-color;
      }
    }

    .btn{
      margin:1rem 0;
      width:100%;
      text-align: center;
    }

    p{
      padding-top: 1rem;
      font-size: 1.4rem;
      color:$light-color;

      a{
        color:$green;

        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

@keyframes fadeOut {
  0%{
    transform: scale(.5);
    opacity: 0;
  }
}

@keyframes fadeLeft {
  0%{
    transform: translateX(-5rem);
    opacity: 0;
  }
}

.home{
  position: relative;

  .slides-container .slide{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    display: none;

    &.active{
      display:flex;
    }

    .content{
      flex:1 1 40rem;      
      animation:fadeLeft .4s linear .4s backwards;

      span{
        font-size: 2.5rem;
        color:$light-color;
      }

      h3{
        font-size: 6rem;
        color:$green;
        padding-top: .5rem;
      }

      p{
        font-size: 1.5rem;
        color:$light-color;
        padding:.5rem 0;
        line-height: 2;
      }
    }

    .image{
      flex:1 1 40rem;
      padding:3rem 0;

      img{
        width:100%;
        animation:fadeOut .4s linear;
      }
    }
  }

  #slide-next,
  #slide-prev{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 3rem;
    box-shadow: $box-shadow;
    border:$border;
    text-align: center;
    background: $white;
    cursor: pointer;

    &:hover{
      background: $green;
      color:$white;
    }
  }

  #slide-next{
    right:2rem;
  }

  #slide-prev{
    left:2rem;
  }
}

.banner-container{
  @include grid(30rem);

  .banner{
    height: 25rem;
    overflow: hidden;
    position: relative;

    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &:hover img{
      transform: scale(1.2);
    }

    .content{
      position: absolute;
      top:50%; left:2rem;
      transform: translateY(-50%);

      span{
        font-size: 1.7rem;
        color:$light-color;
      }

      h3{
        padding-top: .5rem;
        font-size: 2.2rem;
        color:$green;
      }

      .btn{
        padding:.7rem 2.5rem;
      }
    }
  }
}

.category .box-container{
  @include grid(16rem);

  .box{
    padding:2rem;
    border:$border;
    text-align: center;

    &:hover{
      background: $green;

      img{
        filter: invert(1);
      }

      h3{
        color:$white;
      }
    }

    img{
      height: 6rem;
      margin-bottom: 1rem;
    }

    h3{
      font-size: 1.7rem;
      color:$green;
    }
  }
}

.products .box-container{
  @include grid(26rem);

  .box{
    position: relative;
    background: #f2f2f2;
    overflow: hidden;

    &:hover{

      .image img{
        transform: scale(1.2);
      }

      .icons{
        top:0;
      }
    }

    .icons{
      position: absolute;
      top:-100%; left:0;
      height: 30rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap:.5rem;
      background: rgba(242,242,242, .7);
      z-index: 10;

      a{
        text-align: center;
        height: 5rem;
        line-height: 5rem;
        width: 5rem;
        background:$white;
        color:$green;
        font-size: 2rem;
        box-shadow: $box-shadow;

        &:hover{
          background: $green;
          color:$white;
        }
      }
    }

    .image{
      height: 30rem;
      width: 100%;
      overflow: hidden;

      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .content{
      padding:1.5rem 2rem;

      .price{
        font-size: 1.7rem;
        color:$light-color;
      }

      h3{
        font-size: 2rem;
        color:$green;
        padding:.5rem 0;
      }

      .stars{
        font-size: 1.7rem;
        
        i{
          color:gold;
        }

        span{
          color:$light-color;
        }
      }
    }
  }
}

.about{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:2rem;

  .image{
    flex:1 1 40rem;

    img{
      width:100%;
    }
  }

  .content{
    flex:1 1 40rem;

    span{
      font-size: 2rem;
      color:$light-color;
    }

    h3{
      font-size: 2.5rem;
      color:$green;
      padding-top: 1rem;
    }

    p{
      font-size: 1.4rem;
      color:$light-color;
      padding: 1rem 0;
      line-height: 2;
    }
  }
}

.services .box-container{
  @include grid(30rem);

  .box{
    padding:2rem;
    text-align: center;
    border:$border;

    img{
      height: 8rem;
      margin-bottom: 1rem;
    }

    h3{
      font-size: 2.2rem;
      color:$green;
    }

    p{
      font-size: 1.4rem;
      color:$light-color;
      line-height: 2;
      padding:1rem 0;
    }
  }
}

.team .box-container{
  @include grid(30rem);

  .box{
    position: relative;
    overflow: hidden;
    border:$border;
    box-shadow: $box-shadow;
    background: $light-bg;

    &:hover{
      .image img{
        transform: scale(1.1);
      }

      .share{
        left:0;
      }
    }

    .share{
      width:7rem;
      height: 50rem;
      position: absolute;
      top:0; left:-8rem;
      z-index: 10;
      background: $green;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      gap:.7rem;

      a{
        height:5rem;
        width: 5rem;
        line-height: 5rem;
        font-size: 2.2rem;
        color:$white;
        border:.1rem solid $white;
        text-align: center;

        &:hover{
          background:$white;
          color:$green;
        }
      }
    }

    .image{
      height: 50rem;
      width: 100%;
      overflow: hidden;

      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .user{
      padding:1rem 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3{
        font-size: 2rem;
        color:$green;
      }

      span{
        font-size: 1.5rem;
        color:$light-color;
      }
    }
  }
}

.blog .box-container{
  @include grid(30rem);

  .box{
    border:$border;
    background: $light-bg;
    box-shadow: $box-shadow;

    &:hover .image img{
      transform: scale(1.2);
    }

    .image{
      height: 25rem;
      width:100%;
      overflow: hidden;

      img{
        height: 100%;
        width:100%;
        object-fit: cover;
      }
    }

    .content{
      padding:1.5rem 2rem;

      h3{
        font-size: 2rem;
        color:$green;
      }

      p{
        font-size: 1.4rem;
        color:$light-color;
        line-height: 2;
        padding:1rem 0;
      }

      .icons{
        margin-top: 2rem;
        padding-top: 1.5rem;
        border-top: $border;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a{
          font-size: 1.4rem;
          color:$light-color;

          &:hover{
            color:$green;
          }

          i{
            padding-right: .5rem;
            color:$green;
          }
        }
      }
    }
  }
}

.contact{
  display: flex;
  flex-wrap: wrap;
  padding:3rem 0;

  form{
    padding:3rem;
    background:$light-bg;
    flex: 1 1 40rem;

    h3{
      font-size: 3rem;
      padding-bottom: 1rem;
      color:$green;
    }

    span{
      display: block;
      padding-bottom: 1rem;
      color:$light-color;
      font-size: 1.6rem;
    }

    .box{
      width:100%;
      background: none;
      border-bottom: $border;
      font-size: 1.6rem;
      color:$green;
      text-transform: none;
      padding:.5rem 0;
      margin-bottom: 1rem;
    }

    textarea{
      height:15rem;
      resize: none;
    }
  }

  .map{
    flex:1 1 40rem;
    width:100%;
  }
}


















.footer{
  background: $light-bg;

  .box-container{
    @include grid(25rem);

    .box{

      h3{
        font-size: 2.2rem;
        color:$green;
        padding:1rem 0;
      }

      p{
        font-size: 1.6rem;
        color:$light-color;
        padding-bottom: 1rem;
      }

      a{
        font-size: 1.4rem;
        color:$light-color;
        padding:1rem 0;
        display: block;

        &:hover{
          color:$green;

          i{
            padding-right: 2rem;
          }
        }

        i{
          padding-right: .5rem;
          color:$green;
        }
      }

      form input[type="email"]{
        width:100%;
        padding:1rem 1.2rem;
        font-size: 1.6rem;
        color:$green;
        text-transform: none;
        margin:.7rem 0;
        border:$border;
      }
    }
  }
}

.credit{
  text-align: center;
  font-size: 2rem;
  color:$white;
  background: $green;
}








// media queries 

@media (max-width:991px){

  html{
    font-size: 55%;
  }

  .header{
    padding:2rem;
  }

  section{
    padding:3rem 2rem;
  }

  .home #slide-next,
  .home #slide-prev{
    top:95%;
  }

  .home #slide-prev{
    left:auto;
    right:8rem;
  }

}

@media (max-width:768px){

  #search-btn{
    display: inline-block;
  }

  .header{
    
    .search-form{
      position: absolute;
      top:-101%; left:0; right:0;
      width: 100%;
      border-radius: 0;
      border-left: 0;
      border-right: 0;

      &.active{
        top:99%;
      }
    }
  }

}

@media (max-width:450px){

  html{
    font-size: 50%;
  }

  .home .slides-container .slide .content h3{
    font-size: 4rem;
  }

  .heading{
    flex-flow: column;
    gap:1rem;
  }

}